body {
    display: flex;
    flex-wrap: wrap; 
}

.experience-obj {
    display: flex;
}

.experience-obj article {
    width: 60%;
}
.experience-obj aside {
    width: 40%;
}
.experience-obj aside img {
    width: 100%;
}

.hobby-obj {
    display: flex;
}

.hobby-obj article {
    width: 60%;
}

.hobby-obj aside {
    width: 40%;
}

.hobby-obj aside img {
    width: 100%;
}

#new-summer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#pogu_vs._zahar {
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {

.experience-obj {
    flex-wrap: wrap;
}
  
.experience-obj article, .experience-obj aside {
    width: 100%;
}  

.hobby-obj {
    flex-wrap: wrap;
}   

.hobby-obj article, .hobby-obj aside {
    width: 100%;
}

#new-summer {
    flex-wrap: wrap;
    justify-content: center;
}

#feedback {
    flex-wrap: wrap;
    justify-content: center;
}
}
